@import 'vars';
@import 'global';
@import 'fonts';

//start header
.header{
    background-color: $bg;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 110px;
    margin-bottom: 200px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.header__hamburger-menu{
    width: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover .header__hamburger-menu-line:nth-child(2n){
        background-color: rgba($blue, .5);
    }
}
.header__hamburger-menu-line{
    height: 4px;
    background-color: $gray;
    border-radius: 2px;
    transition: all 0.3s;
}
.header__hamburger-menu-line:not(:last-child){
    margin-bottom: 5px;
}
.color-change:not(:nth-child(2n)){
    background-color: rgba($blue, .5);
}
.header__menu-list{
    display: none;
    li{
        display: inline-block;
        margin-right: 15px;
    }
    a{
        font-size: 20px;
        font-weight: 500;
        transition: all 0.3s;
        position: relative;
        &:before{
            content: "";
            width: 0;
            height: 0;
            position: absolute;
            bottom: -2px;
            left: 50%;
            background: $blue;
            transition: all 0.3s;
        }
        &:hover{
            &:before{
                width: 100%;
                height: 2px;
                left: 0;
                background: $blue;
            }
        }
    }
}
.header__banner{
    text-align: center;
}
.header-banner__title{
    margin-bottom: 140px;
    *{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color: $gray;
        font-size: 48px;
        line-height: 65px;
        text-transform: uppercase;
        text-shadow: 0px 9px 10px rgba(0, 0, 0, 0.24);
    }
}
.blue-bg{
    background-color: rgba($blue, .5);
}
.header-banner__link{
    padding-bottom: 195px;
    *{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: $text;
        font-size: 18px;
        text-transform: uppercase;
        padding: 17px 45px;
        border: 2px solid #777879;
        cursor: pointer;
        transition: all .3s;
        &:hover{
            background-color: rgba($blue, .5);
        }
    }
}
//end header
//start about
.about{
    background-color: #f8fafa;
}
.about-content{
    display: flex;
    justify-content: space-between;
}
.about-content__slider{
    max-width: 480px;
}
.about-content__slider-img,
.reviews-content__slider-img{
    width: 390px;
    height: 483px;
    position: relative;
    margin-bottom: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 6px 24px 0px rgba(20, 20, 21, 0.17);
    border-radius: 3px;
    margin: 0 auto;
    margin-bottom: 30px;
    &::after{
        content: '';
        position: absolute;
        width: 40px;
        height: 410px;
        background-color: $bg;
        top: 40px;
        right: -40px;
        border-radius: 3px;
    }
    &::before{
        content: '';
        position: absolute;
        width: 40px;
        height: 410px;
        background-color: $bg;
        left: -40px;
        top: 40px;
        border-radius: 3px;
    }
}
.slick-dots{
    display: block;
    margin: 0 auto;
    width: 70px;
    li{
        display: inline-block;
    }
    li:not(:last-child){
        margin-right: 3px;
    }
    button{
        border: none;
        width: 12px;
        height: 12px;
        background-color: #d0d0d0;
        border-radius: 3px;  
        font-size: 0; 
        cursor: pointer;  
        // outline: none;
        // border: 2px solid transparent;
    }
    .slick-active{
        button{
            background-color: $blue;
            // &:focus{
            //     border: 2px solid #777879;

            // }
        }
    }
}
.about-content__description{
    max-width: 490px;
}
.about-content__description-title{
    margin-bottom: 16px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
}
.about-content__description-text{
    margin-bottom: 28px;
}
//end about
//start works
.works-content__items,
.team-content__items{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    // margin-right: -30px;
}
.works-content__item{
    min-width: 370px;
    height: 360px;
    // flex-basis: calc(33.3333% - 30px);
    // margin-right: 30px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.works-content__item:not(:nth-child(3n)),
.team-content__item:not(:nth-child(3n)){
    margin-right: 15px;
}
.works-content__item:not(:nth-child(n+3)),
.team-content__item:not(:nth-child(n+3)){
    margin-bottom: 15px;
}
//end works
//start services
.services{
    background-color: $bg2;
}
.services-content__items{
    display: grid;
    // grid-template-columns: 7fr 5fr;
    grid-template-columns: repeat(12, 1fr);
    // grid-template-rows: repeat(4, 1fr);
    // grid-template-columns: 650px 480px;
    grid-auto-rows: minmax(370px, auto);
    grid-gap: 15px;
}
.services-content__item:nth-child(1),
.services-content__item:nth-child(3),
.services-content__item:nth-child(6){
    grid-column: span 7;
}
.services-content__item:nth-child(2),
.services-content__item:nth-child(4),
.services-content__item:nth-child(5)
{
    grid-column: span 5;
}
.services-content__item{
    padding: 155px 90px 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        top: 0;
        left: 0;
    }
}
.services-content__item-psd,
.services-content__item-identity,
.services-content__item-web{
    background-image: url(../images/services/item-3.jpg);
}
.services-content__item-design,
.services-content__item-logo,
.services-content__item-interface{
    background-image: url(../images/services/item-1.jpg);
}
.services-content__item-title{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    color: #fff;
    z-index: 1;
}
.services-content__item-description{
    color: #fff;
    line-height: 25px;
    margin-bottom: 25px;
    z-index: 1;
}
.services-content__item-link{
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    max-width: 200px;
    cursor: pointer;
    &::before{
        content: '';
        position: absolute;
        background-image: url(../images/icons/arrow.png);
        width: 22px;
        height: 15px;
        top: 5px;
        left: 160px;
    }
}
.services-content__item-more{
    background-color: $blue;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    top: 0px;
    left: 0px;
    position: absolute;
    padding: 60px 115px 40px 65px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    display: none;
    *{
        color: #000;
    }
}
.services-content__item-more.active{
    display: flex;
}
.close-btn{
    width: 17px;
    height: 17px;
    background-image: url(../images/icons/close.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
}
//end services
//start team
.team-content__item{
    max-width: 370px;
    height: 440px;
    position: relative;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &:hover{
        .team-content__item-description{
            display: flex;
        }
    }
}
.team-content__item-description{
    position: absolute;
    background-color: $blue;
    width: 335px;
    min-height: 240px;
    bottom: 15px;
    left: 15px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
    &::after{
    content: ''; 
    position: absolute;
    left: 20px;
    top: -30px;
    border: 10px solid transparent; 
    border-bottom: 20px solid $blue;
   }
}
.team-content__item-name,
.reviews-text__slider-item-name{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
    color: #272727;
    span{
        color: #767070;
        font-weight: 500;
        font-size: 15px;
        font-style: italic;
    }
}
.team-content__item-text{
    color: #000;
}
.icon-facebook,
.icon-twitter,
.icon-dribbble{
    margin-right: 15px;
}
.icon-facebook::before,
.icon-twitter::before,
.icon-dribbble::before,
.icon-envelope-o::before{
    font-size: 13px;
    color: #000;
}
//end team
//start rewievs
.reviews{
    background-color: #f9fbfb;
}
.slider__wrapp{
    display: flex;
    justify-content: space-between;
}
.reviews-content__slider{
    max-width: 390px;
}
.reviews-content__slider-img{
    width: 320px;
    height: 410px;
    &::after{
        height: 365px;
        top: 20px;
    }
    &::before{
        height: 365px;
        top: 20px;
    }
}
.reviews-text__slider{
    max-width: 665px;
    width: 100%;
    margin-top: 20px;
}
.reviews-text__slider-item{
    background-color: $bg;
    padding: 100px 80px 65px;
    min-height: 365px;
    text-align: center;
}
.reviews-text__slider-item-name{
    margin-bottom: 25px;
}
.reviews-text__slider-item-text{
    line-height: 27px;
    letter-spacing: 1px;
    margin-bottom: 25px;
}
.rate-star{
    margin: 0 auto;
}
.slick-arrow{
    border: none;
    width: 53px;
    height: 53px;
    box-shadow: 0px 8px 11px 0px rgba(20, 20, 21, 0.05);
    border-radius: 3px;
    transition: all .5s ease-in-out;
    cursor: pointer;
    &:hover{
        background-color: $blue;
    }
}
.slick-next{
    position: absolute;
    right: 0;
    bottom: 0;
    img{
        transform: rotate(180deg);
    }
}
.slick-prev{
    position: absolute;
    right: 75px;
    bottom: 0
}
//end rewievs
//start clients
.clients__wrapp{
    padding: 120px 0 60px;
}
.clients__row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.clients__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.clients__link{
    width: 135px;
    height: 60px;
    margin-bottom: 60px;
}
.clients__link:not(:last-child){
    margin-right: 35px;
}
//end clients
//start contacts
.contacts{
    background-image: url(../images/contacts-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.contacts-content__wrapp{
    display: flex;
    justify-content: space-between;
    padding: 120px 0;
}
.contacts-content__form{
    max-width: 615px;
    width: 100%;
    padding: 35px 30px;
    background-color: rgba(#021623, .7);
}
.form-btn{
    border: none;
    background-color: $blue;
    padding: 6px 35px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 2px;
    cursor: pointer;
    min-height: 54px;
    text-transform: uppercase;
}
.contacts-content__contacts{
    max-width: 503px;
    width: 100%;
    padding: 35px 25px 20px;
    background-color: rgba(#021623, .7);
}
.contacts-content__contacts-wrapp{
    margin-bottom: 20px;
    *{
        color: #d3d6d8;
        font-size: 15px;
        line-height: 24px;
    }
}
.contacts-content__contacts-link{
    display: block;
}
.contacts-content__contacts-link--margin{
    margin-bottom: 25px;
}
.contacts-content__map{
    iframe{
        width: 455px;
        height: 225px;
    }
}
//end contacts
//start footer
.footer{
    background-color: #262b2e;
}
.footer__wrapp{
    padding: 75px;
    text-align: center;
}
.footer__title{
    line-height: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}
.footer_social{
    margin-bottom: 35px;
    .icon-item{
        background-color: $gray;
        width: 45px;
        height: 40px;
        border-left: 1px solid #383d3f;
        border-right: 1px solid #383d3f;
        transition: all .5s ease-in-out;
        position: relative;
        &:hover{
            background-color: $blue;

        }
        &:hover::before {
            color: #000;
        }
    }
    .icon-item:not(:last-child){
        margin-right: 7px;
    }
    .icon-facebook::before,
    .icon-twitter::before,
    .icon-dribbble::before,
    .icon-pinterest-p::before{
        font-size: 23px;
        color: #faf4f4;
        position: absolute;
        left: 14px;
        top: 8px;
        transition: all .5s ease-in-out;
    }
} 
.footer_copy{
    font-weight: 500;
    line-height: 25px;
    color: #969798;
}
//end footer
//start connection
#connection{
    background-color: $bg;
    max-width: 730px;
    width: 100%;
}
.connection__form{
    input,
    textarea{
        color: #000;
        &::placeholder{
            color: #000;
        }
    }
}
//end connection

@import 'media';